/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Container umum */
.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* Header */
header {
    background: linear-gradient(90deg, green,black);
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

/* Section Umum */
section {
    padding: 40px 0;
    background-color: #fff;
    margin-bottom: 20px;
}

section h2 {
    color: #444;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Contact */
.contact p {
    margin-bottom: 10px;
}

.btn{
    color: aqua;
}

/* Footer */
footer {
    background:linear-gradient(90deg, green,black);
    color: #ccc;
    text-align: center;
    padding: 20px 0;
}

@media screen {
    
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }
}